<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ExeEng</title>
    <link rel="icon" href="./view/images/favicon.ico" />
    <link rel="stylesheet" href="./view/cssJS/layout.css">
    <script src="./view/cssJS/jquery-3.2.1.js"></script>
    <script src="./view/cssJS/script.js"></script>
    <script src="./view/cssJS/exeJS.js"></script>
</head>
<body>
<div id="main">
    <div id="header">
        <a href="index.php?archive">Archiwum</a>
        <a href="index.php?exeJava">Java</a>
        <a href="index.php?exeDeu">Deutsch Exe</a>
        <a href="index.php?deu">Deutsch</a>
        <a href="index.php?exeEng">English Exe</a>
        <a href="index.php?eng">English</a>
        <a href="index.php">Note</a>
    </div>
    <div id="bodyEng">
        <div class="engShowAll">
            <span class="infoPageName"><center>English Exe</center></span>
        </div>
        <div class="sectionMain">
            <div id="startRepeatEng" <?php if($repeatStartedExeEng == 1){echo 'style="display: none;"';}?> class="engButtons">Rozpocznij powtórkę</div>
        <span <?php if($repeatStartedExeEng == 0){echo 'style="display: none;"';}?> >Już rozpoczęte! Do końca zostało: <?php echo $countWordsToEnd;?>
        <br /><div style="margin-right: 4px;" onclick="$(location).attr('href', 'index.php?exeEng&today');" class="engButtons">Wejdź</div><div id="breakRepeatWordsExeEng" class="engButtons">Przerwij</div></span>
        <br />
        <div id="resetWordsEng" class="engButtons">Zresetuj słowa</div>
        <br />
        <div id="addNewEngExe" class="engButtons">Dodaj nowe ćwiczenie</div>
        <br />
        <div id="startTodayExeEng" class="engButtons">Dzisiejsza powtórka</div>
        <span <?php if($todayStartedExeEng == 1){echo 'style="display: none;"';}?> ><input name="countExe" id="countExe" type="text" size="3" maxlength="5" placeholder="Ilość"></span>
        <br />
        <span <?php if($todayStartedExeEng == 0){echo 'style="display: none;"';}?>>Do końca dzisiaj zostało: <?php echo $countWordsToEnd;?><br /></span>
        <div id="resetTodayWordsExeEng" class="engButtons">Zresetuj dzisiejszą powtórkę</div>
        <br />
        <div id="irregularVerbsExeEng" onclick="$(location).attr('href', 'index.php?irVerbsEng');"  class="engButtons">Nieregularne czasowniki</div>
    </div>
    <div class="sectionMain cole">
        <div class="engSettings" style="display: none;">
            <span>Rozpocznij powtórkę</span>
            <br /><br />
            <form action="index.php?exeEng" method="post"><input type="text" name="startRepeatWordsFrom" size="5" maxlength="100" placeholder="od">-<input name="startRepeatWordsTo" type="text" size="5" maxlength="5" placeholder="do">
               <input name="countEachExe" type="text" size="3" maxlength="5" placeholder="Ilość"><input type="submit" style="visibility: hidden; position: absolute;"></form>
            <br />
            <span>Podaj zakres od-do ID nazw ćwiczeń (lub w od po przecinku, np. '1,2,3', w do zostaw puste) oraz w ilość wpisz liczbę ćwiczeń, jaka zostanie wybrana z każdego ćwiczenia.
                Jest to oddzielna powtórka niż dzisiejsza. Zaliczane są do codziennych zadań.</span>
        </div>
        <div class="engSettings" style="display: none;">
            <span>Zresetuj ćwiczenia</span>
            <br />
            <div id="resetAllWordsExeEng" class="engButtons">Zresetuj wszystkie</div>
            <br />
            <form action="index.php?exeEng" method="post"> <input name="resetWordsWithRangeFrom" type="text" size="5" maxlength="1000" placeholder="od">-<input name="resetWordsWithRangeTo" type="text" size="5" maxlength="5" placeholder="do"><input type="submit" style="visibility: hidden; position: absolute;"> </form>
            <br />
            <span>Podaj zakres ID nazw ćwiczeń od-do (lub w od po przecinku, w do zostaw puste) lub zresetuj wszystkie. Przerobione ćwiczenia nie są wybierane w codziennej powtórce.
                Ten mechanizm przywraca ćwiczenia i ponownie można je powtarzać.</span>
        </div>
        <div class="engSettings" style="display: none;">
            <span>Dodaj nową nazwę ćwiczenia</span>
            <br />
            <form action="index.php?exeEng" method="POST">
                <input name="addNewExeName" type="text" size="20" maxlength="3000" placeholder="Nazwa nowego ćwiczenia">
            </form>
            <br />
            <span>Dodaj nowe ćwiczenie</span>
            <br />
            <form action="index.php?exeEng" method="POST">
                <select name="idExeName">
                    echo '<option disabled="disabled" selected="selected" value="0">Wybierz nazwę ćwiczenia</option>';
                    <?php
                        foreach($showExeEngName as $sEN){
                            echo '<option value="'.$sEN->getId().'">'.$sEN->getName().'</option>';
                        }
                    ?>
                </select>
                <input name="first" type="text" size="10" maxlength="3000" placeholder="First">
                <input name="second" type="text" size="10" maxlength="3000" placeholder="Second">
                <input name="word" type="text" size="10" maxlength="3000" placeholder="Word">
                <input name="comment" type="text" size="10" maxlength="3000" placeholder="Comment">
                <select name="working">
                    <option disabled="disabled" selected="selected" value="0">Wybierz working</option>
                    <option value="1">First->Second</option>
                    <option value="2">Second->First</option>
                    <option value="3">W obie strony</option>
                </select>
                <select name="mode">
                    <option disabled="disabled" selected="selected" value="0">Wybierz mode</option>
                    <option value="1">Wpisywanie całego pola</option>
                    <option value="2">Wybór/wpisanie słowa</option>
                </select>
                <input type="submit" name="addNewExe" value="Dodaj nowe ćwiczenie">
                <br />
            </form>
        </div>
        <br />
        <span>Ilość ćwiczeń do przerobienia: <?php echo $getCountToEndAll; ?></span>
    </div>
    <div class="engShowAll" id="showAddInfo" style="display: none;">
        <span>Uzupełnij wszystkie pola! Wyjaśnienie: word - wpisz słowo w trybie podstawowym. Jeśli będzie mode 2
            to z bazy wybierne będą odpowiedzi po tym word i tylko jedna będzie poprawna. Szczególnie wpisuj "czas",
            gdy odpowiedzią jest nazwa czasu - wtedy z zadaniach, gdzie są opisy czasów i wybrać poprawy, to będzie
            to brane pod uwagę. Working - tryb pracy, czy ma być tylko w jedną stronę czy w obojętnie którą.
            Mode - zwykłe wpisywanie całego pola ALBO Wybór/wpisanie słowa, tzn.
            że jeśli to będzie, to zawsze w first musi się pojawić '...' - to będzie zastępowane przez słowo.
            W czasach postaw kropki na końcu.
        </span>
    </div>
    <div class="engShowAll">
        <div class="engButtons" id="showAllWords">Wyświetl wszystkie słówka!</div>
    </div>
    <div class="engShowAll">
        <table id="engTable">
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
            <?php
            foreach($showExeEngName as $sEN){

                $tab = [
                    "id"=>$sEN->getId(),
                    "name"=>$sEN->getName()
                ];

                $tabOfExeNameToJS[] = $tab;

                echo '<tr>';
                echo '<td>'.$sEN->getId().'</td>';
                echo '<td onclick="editExe(this, '.$sEN->getId().', \'editName\');">'.$sEN->getName().'</td>';
                echo '</tr>';
            }
            ?>
        </table>
            <?php
            if(isset($_GET['show'])){
                echo '<table id="engTable">
                    <tr>
                    <td>Id</td>
                    <td>ExeName</td>
                    <td>First</td>
                    <td>Second</td>
                    <td>Word</td>
                    <td>Comment</td>
                    <td>Working</td>
                    <td>Mode</td>
                    <td>Repeated</td>
                    </tr>';

                foreach($showExeEng as $sEE){
                    $working = "";
                    if($sEE->getWorking() == 1){ $working="First->Second";}
                    if($sEE->getWorking() == 2){ $working="Second->First";}
                    if($sEE->getWorking() == 3){ $working="W obie strony";}

                    $mode = "";
                    if($sEE->getMode() == 1){ $mode="Wpisywanie całego pola";}
                    if($sEE->getMode() == 2){ $mode="Wybór/wpisanie słowa";}


                    echo '<tr>';
                    echo '<td>'.$sEE->getId().'</td>';
                    echo '<td onclick="editExeName(this, '.$sEE->getId().', \'editExeName\', '.htmlentities(json_encode($tabOfExeNameToJS)).');">'.$sEE->getIdExeName().'</td>';
                    echo '<td onclick="editExe(this, '.$sEE->getId().', \'editFirst\');">'.$sEE->getFirst().'</td>';
                    echo '<td onclick="editExe(this, '.$sEE->getId().', \'editSecond\');">'.$sEE->getSecond().'</td>';
                    echo '<td onclick="editExe(this, '.$sEE->getId().', \'editWord\');">'.$sEE->getWord().'</td>';
                    echo '<td onclick="editExe(this, '.$sEE->getId().', \'editComment\');">'.$sEE->getComment().'</td>';
                    echo '<td onclick="editWorking(this, '.$sEE->getId().', \'editWorking\');">'.$working.'</td>';
                    echo '<td onclick="editMode(this, '.$sEE->getId().', \'editMode\');">'.$mode.'</td>';
                    echo '<td>'.$sEE->getRepeated().'</td>';
                    echo '</tr>';
                }

                echo '</table>';
            }
            ?>
    </div>
</div>

</div>
</body>
</html>