<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ir Verbs Eng - Today</title>
    <link rel="icon" href="./view/images/favicon.ico" />
    <link rel="stylesheet" href="./view/cssJS/layout.css">
    <script src="./view/cssJS/jquery-3.2.1.js"></script>
    <script src="./view/cssJS/script.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
                $("#inf").focus();
                $("#nextWord").focus();
            });
    </script>
</head>
<body>
<div id="main">
    <div id="header">
        <a href="index.php?archive">Archiwum</a>
        <a href="index.php?exeJava">Java</a>
        <a href="index.php?exeDeu">Deutsch Exe</a>
        <a href="index.php?deu">Deutsch</a>
        <a href="index.php?exeEng">English Exe</a>
        <a href="index.php?eng">English</a>
        <a href="index.php">Note</a>
    </div>
    <div id="bodyToday">
        <div class="sectionToday">
            Do końca pozostało: <?php echo $getCountToEnd; ?>
        </div>
        <div class="sectionToday">
            <table id="engTable" class="todayTable">
                <tr>
                    <td>ID</td>
                    <td>PL</td>
                    <td>Inf</td>
                    <td>Past</td>
                    <td>PastPart</td>
                    <td>+</td>
                </tr>
                <tr>
                    <?php if($getCountToEnd > 0){ ?>

                    <form action="index.php?irVerbsEng&today" method="POST">
                        <?php if($showFirstBase == 0){ ?>
                        <td><?php echo $showWord['id']; ?></td>
                        <td><?php echo $showWord['pl']; ?></td>
                        <td><input class="irVerbsInput" type="text" name="inf"  id="inf" maxlength="1000" placeholder="inf" autocomplete="off"/></td>
                        <td><input class="irVerbsInput" type="text" name="past"  maxlength="1000" placeholder="past" autocomplete="off" ></td>
                        <td><input class="irVerbsInput" type="text" name="pastPart"  maxlength="1000" placeholder="PastPart" autocomplete="off" /></td>

                        <input type="hidden" name="id" value="<?php echo $showWord['id'];  ?> ">
                        <td><input name="sendAnswer" type="submit" value="+"></td>
                        <?php
                            }
                            else
                            {
                        ?>

                        <td><?php echo $tab->getId(); ?></td>
                        <td><?php echo $tab->getPl(); ?></td>

                        <?php
                            if($checked['infChecked'] == 1){$color="#009900"; }else{$color="#990000"; }
                        ?>
                        <td bgcolor="<?php echo $color; ?>"><?php echo $tab->getInf(); ?></td>

                        <?php
                            if($checked['pastChecked'] == 1){$color="#009900"; }else{$color="#990000"; }
                        ?>
                        <td bgcolor="<?php echo $color; ?>"><?php echo $tab->getPast(); ?></td>

                        <?php
                            if($checked['pastPartChecked'] == 1){$color="#009900"; }else{$color="#990000"; }
                        ?>
                        <td bgcolor="<?php echo $color; ?>"><?php echo $tab->getPastPart(); ?></td>
                        <td><input type="submit" id="nextWord" value="+"></td>


                        <?php
                            }
                        ?>
                    </form>

                    <?php
                    }
                     else{
                        echo '<td colspan="6">Wykonałeś wszystkie czasowniki nieregularne!</td>';
                     }
                    ?>

                </tr>
            </table>
        </div>
    </div>

</div>
</body>
</html>